@media  screen and (max-width:1024px) {
    header{
        padding: 0;
    }
    .product-name-heading{
        font-size: 20px;
    }
    .product-link{
        font-size: 11px;
    }
    .brand-link{
        font-size: 14px;
    }
    .product-name:hover .product-link{
        /* margin-left: 5px; */
        color: #7a7777;
        margin: 0;
        transition: 0.3s ease-in-out;
        font-weight: 600;
    }
    .input-field{
        display: none;
    }
    .right{
        width: 70%;
    }
}
@media  screen and (max-width:460px) {
    header{
        width: 100%;
        padding: 0 10px;
        display: flex;
    }
    .left{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .left .logo{
        width: 100%;
    }
    .input-field{
        display: none;
    }
    
    .menu-items{
        display: none;
    }
    .cart{
        display: block;
        width: 25%;
    }
    .hamburger{
        display: block;
        width: 25%;
    }
    nav{
        width: 50%;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: #fff;
        margin-top: 0;
        position: fixed;
        border-right: 1px solid #ccc;
        display: none;
    }
    .navbar{
        /* padding: 20px 10px; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 10px;
        /* display: none; */
        /* position: relative; */
        
    }
    .nav-input-field{
        /* position: absolute; */
        display: block;
        margin: 20px;
        /* width: 100%; */
        padding: 5px 10px;
        border: none;
        outline: none;
        border: 1px solid #ccc;
    }
    .navbar-items{
        width: 100%;
        padding: 10px 5px;
    }
    .navbar-items:hover{
        background-color: #ccc;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    .navbar-items:hover .product{
        display: none;
    }
    .navbar-items:hover .brand{
        display: none;
    }
    .login{
        display: block;
    }
    .close-group{
        display: block;
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 10px 10px 0 0;
        cursor: pointer;
    }
    .navbar-link>i{
        display: none;
    }

   
}