@media screen and (max-width: 430px) {
    #Cart{
        flex-direction: column;
        padding: 10px;
    }
    .product-price{
        display: none;
    }
    .cart-price{
        display: none;
    }
}