<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer-link.css">
    <link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
    <header id="header">
        <i class="bi bi-list hamburger"></i>
        <div class="left">
            <a href="#"><img src="../image/logo.png" alt="" class="logo"></a>
            <input type="text" placeholder="Tìm kiếm..." class="input-field">
        </div>
        <div class="right">
            <ul class="menu">
                <li class="menu-items">
                    <a href="#" class="menu-link">
                        <i class="bi bi-geo-alt-fill"></i>Hệ thống cửa hàng<i class="bi bi-caret-down-fill"></i>
                    </a>
                    <div class="sub-menu">
                        <div class="submenu-heading">Các cửa hàng của Xóm thơm</div>
                        <div class="submenu-list">
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 1</h2>
                                    <p class="address">76 Trần Phú, Mộ Lao, Hà Đông</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 2</h2>
                                    <p class="address">17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 3</h2>
                                    <p class="address">Thạch Thất, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 4</h2>
                                    <p class="address">Cổ Lễ, Trực Ninh, Nam Định</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="direction">
                            <p><a href="#" class="direction-link">Hướng dẫn mua hàng</a></p>
                            <p><a href="#" class="direction-link">Về Xóm Thơm</a></p>
                            <p><a href="#" class="direction-link">Liên hệ</a></p>
                        </div>
                    </div>
                </li>
                <li class="menu-items phone-parent">
                    <a href="#" class="menu-link">
                        <i class="bi bi-telephone-fill"></i>0911682744
                    </a>
                    <div class="phone-hover">
                        <p>0911682744</p>
                    </div>
                </li>
                <li class="menu-items"><a href="../../login_page/login.html" class="menu-link"><i class="bi bi-person-fill"></i></a></li>
                <li class="menu-items cart"><a href="../../Cart/page/cart.html" class="menu-link"><i class="bi bi-cart-fill"></i></a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="close-group">
            <i class="bi bi-x-lg"></i>
        </div>

        <input type="text" placeholder="Tìm kiếm..." class="nav-input-field">
        <ul class="navbar">
            <li class="navbar-items"><a href="../../index.html" class="navbar-link">Trang chủ</a></li>
            <li class="navbar-items"><a href="../../about/view/about.html" class="navbar-link">Về chúng tôi</a></li>
            <li class="navbar-items">
                <a href="../../product/page/product.html" class="navbar-link">Sản phẩm<i class="bi bi-caret-down-fill"></i></a>
                <div class="product">
                    <div class="product-items">
                        <h2 class="product-name-heading">Nước hoa xóm thơm</h2>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../nam/page/nam.html" class="product-link">Nước hoa
                                nam <span class="hot">Hot</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../nu/page/nu.html" class="product-link">Nước hoa
                                nữ <span class="sale">Sale</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../unisex/page/unisex.html" class="product-link">Nước hoa
                                unisex <span class="new">New</span></a></p>
                    </div>
                    <div class="product-banner">
                        <img src="../image/product-banner.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="navbar-items">
                <a href="../../brand/All/page/All.html" class="navbar-link">Thương hiệu<i class="bi bi-caret-down-fill"></i></a>
                <div class="brand">
                    <div class="brand-items">
                        <div class="brand-left-col">
                            <p class="brand-name"><a href="../../brand/Chanel/page/chanel.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Channel</a></p>
                            <p class="brand-name"><a href="../../brand/Creed/page/creed.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Creed</a></p>
                            <p class="brand-name"><a href="../../brand/Dior/page/dior.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doir</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doncle & Banana</a></p>
                            <p class="brand-name"><a href="../../brand/Gucci/page/gucci.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Gucci</a></p>
                            <p class="brand-name"><a href="../../brand/Maison/page/maison.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Maison Marglia</a></p>
                            <p class="brand-name"><a href="../../brand/Hermes/page/hermes.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Helmet</a></p>
                        </div>
                        <div class="brand-right-col">
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Yves Saint Laurent</a></p>
                            <p class="brand-name"><a href="../../brand/Kilian/page/kilian.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Kilian</a></p>
                            <p class="brand-name"><a href="../../brand/Louis Vuitton/page/louis.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Luivatoi</a></p>
                            <p class="brand-name"><a href="../../brand/Lancome/page/lancome.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Lancome</a></p>
                            <p class="brand-name"><a href="../../brand/Diptyque/page/diptyque.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Dirtyque</a></p>
                            <p class="brand-name"><a href="../../brand/Davidoff/page/davidof.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Davidon</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Abibas</a></p>
                        </div>

                    </div>
                    <div class="brand-banner">
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-1.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>New Collection</p>
                                <p>Lưu hương 24h</p>
                            </div>
                        </div>
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-2.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>Sản phẩm Ưu đãi</p>
                                <p>Vui tết chung thu</p>
                            </div>
                        </div>


                    </div>
                </div>
            </li>
            <li class="navbar-items"><a href="../../blog/page/blog.html" class="navbar-link">Blog</a></li>
            <li class="navbar-items"><a href="../../about/view/about.html" class="navbar-link">Liên hệ</a></li>
            <li class="navbar-items login"><a href="../../login_page/login.html" class="navbar-link">Đăng nhập</a></li>
        </ul>
    </nav>
    <div class="title">
        <h1> CAM KẾT & BẢO HÀNH, ĐỔI TRẢ</h1>
        <div class="none-list">
            <h2>Cam kết sản phẩm chính hãng</h2>
            <p>Với mong muốn mang lại sự tin tưởng & hài lòng cho Quý khách mua hàng tại Xóm Thơm. Chúng tôi cam kết tất
                cả sản phẩm đều là nước hoa chính hãng (Authentic) 100% nhập khẩu từ Pháp, Mỹ và các nước Châu âu khác…
            </p>
            <p>Tất cả sản phẩm bán ra đều có thẻ bảo hành cho từng sản phẩm đi kèm. Và hơn thế, chúng tôi luôn mong muốn
                mang đến cho Quý khách những dịch vụ hài lòng và những sản phẩm vừa ý nhất.</p>
            <p>Trường hợp Quý khách phát hiện sản phẩm chúng tôi là hàng FAKE (hàng giả mạo) Quý khách sẽ được bồi hoàn
                200% giá trị sản phẩm.</p>
        </div>
        <div class="title-list">
            <h2>Quy định bảo hành</h2>
            <ul>
                <li>Trong thời hạn 15 ngày kể từ ngày mua. Nếu sản phẩm bị lỗi do nhà sản xuất, sản phẩm kém chất lượng,
                    sản phẩm không đúng chủng loại, mẫu mã, số lượng như đã đặt hàng, Quý khách không hài lòng chất
                    lượng – Quý khách sẽ được đổi sang sản phẩm khác hoặc trả lại mà không mất khoản phí nào. </li>
                <li>Sản phẩm bảo hành phải có đầy đủ tem, hộp của nhà sản xuất và thẻ bảo hành của Xóm Thơm có ghi mã số
                    chai được bảo hành. </li>
                <li>Bảo hành mùi hương sản phẩm 24 tháng : Trường hợp quý khách mua hàng và sử dụng trong vòng 24 tháng
                    kể từ ngày mua mà sản phẩm bị biến đổi mùi hương quá mức cho phép của nhà sản xuất (mùi hương bị
                    biến đổi hoàn toàn & không còn như mùi hương ban đầu) thì Quý khách sẽ được đổi sản phẩm theo giá
                    trị % hiện tại. lưu ý: chúng tôi không bảo hành thân, vỏ chai, đầu xịt </li>

            </ul>
        </div>
        <div class="none-list">
            <h2>Quy định đổi trả sản phẩm</h2>
            <p>Trường hợp Quý khách không thích mùi hương của dòng nước hoa này, hay muốn đổi sang sản phẩm khác trong
                thời hạn mua hàng chưa quá 15 ngày thì Quý khách vẫn được đổi sang sản phẩm khác với khoản phí 30% giá
                trị sản phẩm đổi và trừ % hao hụt lượng dung dịch sản phẩm đã sử dụng (nếu có). Nhưng không quá 5%. </p>
            <p>Lưu ý: Chỉ áp dụng đổi cho sản phẩm fullsize có dung tích từ 75ml trở lên, không áp dụng với sản phẩm
                chiết thử mùi. Và chỉ đổi sang sản phẩm có tổng giá trị bằng hoặc cao hơn.

            </p>
        </div>
        <div class="title-list">
            <h2>Những trường hợp không bảo hành</h2>
            <ul>
                <li>Sản phẩm không phải do Xóm Thơm bán ra (Không có hóa đơn đầy đủ, không có tem bảo hành của Xóm Thơm)
                    hoặc tem bảo hành bị rách, biến dạng
                </li>
                <li>Sản phẩm không được bảo quản theo quy định của nhà sản xuất, bị rơi vỡ.
                </li>
                <li>Sản phẩm đã bị can thiệp vào các phần nắp chai, vòi xịt, tem bảo hành của Xóm Thơm.
                </li>
                <li>Sản phẩm được giảm giá từ 30% trở lên và các sản phẩm thuộc danh sách ưu đãi đặc biệt trong chương
                    trình khuyến mãi từng thời điểm.
                </li>
                <li>Quá thời hạn bảo hành, đổi trả theo quy định là 15 ngày.
                </li>

            </ul>
        </div>
        <div class="none-list">
            <h2>Bộ phận tiếp nhận bảo hành & đổi trả</h2>
            <p>Quý khách vui lòng liên lạc với Xóm Thơm thông qua tổng đài hỗ trợ 036 539 3999 hoặc trực tiếp đến
                Showroom của chúng tôi từ 12 – 21h hàng ngày. </p>
            <p>Hãy liên hệ Hotline: <span>036 539 3999</span> để được hỗ trợ.</p>
            <p>Chúng tôi rất mong tiếp tục nhận được sự ủng hộ và góp ý của Quý khách để ngày càng hoàn thiện dịch vụ
                chăm sóc khách hàng, nhằm mang đến sự hài lòng của Quý khách !

            </p>
        </div>


    </div>
    <footer class="footer">
        <div class="footer-infor">
            <img class="img-xomthom" src="../image/xomthom.png" alt="">
            <div class="title">
                <p><a href="#">Giấy chứng nhận đăng kí doanh nghiệp số 0108041328</a></p>
            </div>
            <div class="content">
                <p><i class="bi bi-geo-alt"></i> <span>Hà Nội : 76 Trần Phú Mộ Lao , Hà Đông, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Hà Nội: 17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Nam Định: 185 Quang Trung, Tp. Nam Định, Tỉnh Nam Định</span>
                </p>
                <p><i class="bi bi-geo-alt"></i> <span> Đà Nẵng: 357 Lê Duẩn, Thanh Khê, Đà Nẵng</span></p>
            </div>
            <div class="content-link">
                <p><i class="bi bi-telephone-fill"></i> <span> 0345 02 1970</span></p>
                <p><i class="bi bi-envelope"></i><span> xomthom@gmail.com</span></p>
                <p><i class="bi bi-lock-fill"></i><span> Shopee.vn/xomthom</span></p>
            </div>
            <p><img src="../image/bct.png" alt=""></p>
        </div>
        <div class="footer-center">
            <div class="take_care">
                <h2>CHĂM SÓC KHÁCH HÀNG</h2>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-1.html">Cam Kết Từ Xóm Thơm</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-1.html">Bảo hành & Đổi trả</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-2.html">Vận chuyển & Giao nhận</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-3.html">Đặt hàng & Thanh toán</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-4.html">Bảo mật thông tin</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-5.html">Điều khoản & dịch vụ</a>
                </p>
            </div>
            <div class="follow">
                <h2>THEO DÕI CHÚNG TÔI</h2>
                <p><i class="bi bi-instagram"></i><a href="#">Instagram</a></p>
                <p><i class="bi bi-facebook"></i><a href="#">Facebook</a></p>
                <p><i class="bi bi-youtube"></i><a href="#">Youtube</a></p>
                <p><i class="bi bi-tiktok"><a href="#">Tiktok</a></i></p>
            </div>

        </div>
        <div class="footer-contact">
            <h2>LIÊN HỆ </h2>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d465.6611449327634!2d105.788497!3d20.981043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba7b191b44b%3A0xa97b9c318bc488d!2zWMOzbSBUaMahbQ!5e0!3m2!1svi!2s!4v1718506512194!5m2!1svi!2s"
                width="100%" height="90%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
    <div class="color">
        <p>Copyright 2024 xomthom.vn</p>
    </div>

</body>
<script src="../js/header.js"></script>

</html>