<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/footer-link.css">
    <link rel="stylesheet" href="../css/footer-link.css">
    <link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
    <header id="header">
        <i class="bi bi-list hamburger"></i>
        <div class="left">
            <a href="#"><img src="../image/logo.png" alt="" class="logo"></a>
            <input type="text" placeholder="Tìm kiếm..." class="input-field">
        </div>
        <div class="right">
            <ul class="menu">
                <li class="menu-items">
                    <a href="#" class="menu-link">
                        <i class="bi bi-geo-alt-fill"></i>Hệ thống cửa hàng<i class="bi bi-caret-down-fill"></i>
                    </a>
                    <div class="sub-menu">
                        <div class="submenu-heading">Các cửa hàng của Xóm thơm</div>
                        <div class="submenu-list">
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 1</h2>
                                    <p class="address">76 Trần Phú, Mộ Lao, Hà Đông</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 2</h2>
                                    <p class="address">17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 3</h2>
                                    <p class="address">Thạch Thất, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 4</h2>
                                    <p class="address">Cổ Lễ, Trực Ninh, Nam Định</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="direction">
                            <p><a href="#" class="direction-link">Hướng dẫn mua hàng</a></p>
                            <p><a href="#" class="direction-link">Về Xóm Thơm</a></p>
                            <p><a href="#" class="direction-link">Liên hệ</a></p>
                        </div>
                    </div>
                </li>
                <li class="menu-items phone-parent">
                    <a href="#" class="menu-link">
                        <i class="bi bi-telephone-fill"></i>0911682744
                    </a>
                    <div class="phone-hover">
                        <p>0911682744</p>
                    </div>
                </li>
                <li class="menu-items"><a href="../../login_page/login.html" class="menu-link"><i class="bi bi-person-fill"></i></a></li>
                <li class="menu-items cart"><a href="../../Cart/page/cart.html" class="menu-link"><i class="bi bi-cart-fill"></i></a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="close-group">
            <i class="bi bi-x-lg"></i>
        </div>

        <input type="text" placeholder="Tìm kiếm..." class="nav-input-field">
        <ul class="navbar">
            <li class="navbar-items"><a href="../../index.html" class="navbar-link">Trang chủ</a></li>
            <li class="navbar-items"><a href="../../about/view/about.html" class="navbar-link">Về chúng tôi</a></li>
            <li class="navbar-items">
                <a href="../../product/page/product.html" class="navbar-link">Sản phẩm<i class="bi bi-caret-down-fill"></i></a>
                <div class="product">
                    <div class="product-items">
                        <h2 class="product-name-heading">Nước hoa xóm thơm</h2>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../nam/page/nam.html" class="product-link">Nước hoa
                                nam <span class="hot">Hot</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../nu/page/nu.html" class="product-link">Nước hoa
                                nữ <span class="sale">Sale</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../unisex/page/unisex.html" class="product-link">Nước hoa
                                unisex <span class="new">New</span></a></p>
                    </div>
                    <div class="product-banner">
                        <img src="../image/product-banner.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="navbar-items login"><a href="../../nam/page/nam.html" class="navbar-link">Nước hoa nam</a></li>
            <li class="navbar-items login"><a href="../../nu/page/nu.html" class="navbar-link">Nước hoa nữ</a></li>
            <li class="navbar-items login"><a href="../../unisex/page/unisex.html" class="navbar-link">Nước hoa unisex</a></li>
            <li class="navbar-items">
                <a href="../../brand/All/page/All.html" class="navbar-link">Thương hiệu<i class="bi bi-caret-down-fill"></i></a>
                <div class="brand">
                    <div class="brand-items">
                        <div class="brand-left-col">
                            <p class="brand-name"><a href="../../brand/Chanel/page/chanel.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Channel</a></p>
                            <p class="brand-name"><a href="../../brand/Creed/page/creed.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Creed</a></p>
                            <p class="brand-name"><a href="../../brand/Dior/page/dior.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doir</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doncle & Banana</a></p>
                            <p class="brand-name"><a href="../../brand/Gucci/page/gucci.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Gucci</a></p>
                            <p class="brand-name"><a href="../../brand/Maison/page/maison.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Maison Marglia</a></p>
                            <p class="brand-name"><a href="../../brand/Hermes/page/hermes.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Helmet</a></p>
                        </div>
                        <div class="brand-right-col">
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Yves Saint Laurent</a></p>
                            <p class="brand-name"><a href="../../brand/Kilian/page/kilian.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Kilian</a></p>
                            <p class="brand-name"><a href="../../brand/Louis Vuitton/page/louis.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Luivatoi</a></p>
                            <p class="brand-name"><a href="../../brand/Lancome/page/lancome.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Lancome</a></p>
                            <p class="brand-name"><a href="../../brand/Diptyque/page/diptyque.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Dirtyque</a></p>
                            <p class="brand-name"><a href="../../brand/Davidoff/page/davidof.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Davidon</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Abibas</a></p>
                        </div>

                    </div>
                    <div class="brand-banner">
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-1.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>New Collection</p>
                                <p>Lưu hương 24h</p>
                            </div>
                        </div>
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-2.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>Sản phẩm Ưu đãi</p>
                                <p>Vui tết chung thu</p>
                            </div>
                        </div>


                    </div>
                </div>
            </li>
            <li class="navbar-items"><a href="../../blog/page/blog.html" class="navbar-link">Blog</a></li>
            <li class="navbar-items"><a href="../../about/view/about.html" class="navbar-link">Liên hệ</a></li>
            <li class="navbar-items login"><a href="../../login_page/login.html" class="navbar-link">Đăng nhập</a></li>
        </ul>
    </nav>
    <div class="title">
        <h1> Giới thiệu về website Xóm Thơm </h1>

        <div class="title-list">

            <p>Chào mừng quý khách hàng đến với website của xomthom.vn </p>
            <p>Khi quý khách hàng truy cập vào trang website của chúng tôi có nghĩa là quý khách đồng ý với các điều
                khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Điều khoản
                mua bán hàng hóa này, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà
                không cần thông báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau khi các thay đổi về Điều
                khoản này được đăng tải, có nghĩa là quý khách chấp nhận với những thay đổi đó. Quý khách hàng vui lòng
                kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi.</p>

        </div>



        <div class="title-list">
            <h2>Hướng dẫn sử dụng website</h2>
            <p>Khi vào web của chúng tôi, khách hàng phải đảm bảo đủ 18 tuổi, hoặc truy cập dưới sự giám sát của cha mẹ
                hay người giám hộ hợp pháp. Khách hàng đảm bảo có đầy đủ hành vi dân sự để thực hiện các giao dịch mua
                bán hàng hóa theo quy định hiện hành của pháp luật Việt Nam.</p>
            <p>Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng cáo từ website. Nếu không muốn tiếp tục
                nhận mail, quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo.
            </p>
        </div>
        <div class="title-list">
            <h2>Điều khoản áp dụng</h2>
            <p> Mọi tranh chấp phát sinh giữa Sàn giao dịch điện tử <span>xomthom.vn </span>và thành viên sẽ được giải
                quyết trên cơ sở thương lượng. Trường hợp không đạt được thỏa thuận như mong muốn, một trong hai bên có
                quyền đưa vụ việc ra Tòa án nhân dân có thẩm quyền tại Thành phố Hà Nội để giải quyết </p>

            <p>Quy chế của Sàn giao dịch điện tử xomthom.vn và chính thức có hiệu lực thi hành kể từ ngày ký Quyết định
                ban hành kèm theo Quy chế này.</p>
            <p>Sàn giao dịch điện tử xomthom.vn có quyền và có thể thay đổi Quy chế này bằng cách thông báo lên Sàn giao
                dịch điện tử xomthom.vn và cho các thành viên biết. </p>
            <p>Quy chế sửa đổi có hiệu lực kể từ ngày Quyết định về việc sửa đổi Quy chế có hiệu lực. Việc thành viên
                tiếp tục sử dụng dịch vụ sau khi Quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc họ đã chấp
                nhận Quy chế sửa đổi này.</p>



        </div>






    </div>
    <footer class="footer">
        <div class="footer-infor">
            <img class="img-xomthom" src="../image/xomthom.png" alt="">
            <div class="title">
                <p><a href="#">Giấy chứng nhận đăng kí doanh nghiệp số 0108041328</a></p>
            </div>
            <div class="content">
                <p><i class="bi bi-geo-alt"></i> <span>Hà Nội : 76 Trần Phú Mộ Lao , Hà Đông, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Hà Nội: 17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Nam Định: 185 Quang Trung, Tp. Nam Định, Tỉnh Nam Định</span>
                </p>
                <p><i class="bi bi-geo-alt"></i> <span> Đà Nẵng: 357 Lê Duẩn, Thanh Khê, Đà Nẵng</span></p>
            </div>
            <div class="content-link">
                <p><i class="bi bi-telephone-fill"></i> <span> 0345 02 1970</span></p>
                <p><i class="bi bi-envelope"></i><span> xomthom@gmail.com</span></p>
                <p><i class="bi bi-lock-fill"></i><span> Shopee.vn/xomthom</span></p>
            </div>
            <p><img src="../image/bct.png" alt=""></p>
        </div>
        <div class="footer-center">
            <div class="take_care">
                <h2>CHĂM SÓC KHÁCH HÀNG</h2>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-1.html">Cam Kết Từ Xóm Thơm</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-1.html">Bảo hành & Đổi trả</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-2.html">Vận chuyển & Giao nhận</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-3.html">Đặt hàng & Thanh toán</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-4.html">Bảo mật thông tin</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-5.html">Điều khoản & dịch vụ</a>
                </p>
            </div>
            <div class="follow">
                <h2>THEO DÕI CHÚNG TÔI</h2>
                <p><i class="bi bi-instagram"></i><a href="#">Instagram</a></p>
                <p><i class="bi bi-facebook"></i><a href="#">Facebook</a></p>
                <p><i class="bi bi-youtube"></i><a href="#">Youtube</a></p>
                <p><i class="bi bi-tiktok"><a href="#">Tiktok</a></i></p>
            </div>

        </div>
        <div class="footer-contact">
            <h2>LIÊN HỆ </h2>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d465.6611449327634!2d105.788497!3d20.981043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba7b191b44b%3A0xa97b9c318bc488d!2zWMOzbSBUaMahbQ!5e0!3m2!1svi!2s!4v1718506512194!5m2!1svi!2s"
                width="100%" height="90%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
    <div class="color">
        <p>Copyright 2024 xomthom.vn</p>
    </div>


</body>
<script src="../js/header.js"></script>

</html>