<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer-link.css">
    <link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
    <header id="header">
        <i class="bi bi-list hamburger"></i>
        <div class="left">
            <a href="#"><img src="../image/logo.png" alt="" class="logo"></a>
            <input type="text" placeholder="Tìm kiếm..." class="input-field">
        </div>
        <div class="right">
            <ul class="menu">
                <li class="menu-items">
                    <a href="#" class="menu-link">
                        <i class="bi bi-geo-alt-fill"></i>Hệ thống cửa hàng<i class="bi bi-caret-down-fill"></i>
                    </a>
                    <div class="sub-menu">
                        <div class="submenu-heading">Các cửa hàng của Xóm thơm</div>
                        <div class="submenu-list">
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 1</h2>
                                    <p class="address">76 Trần Phú, Mộ Lao, Hà Đông</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 2</h2>
                                    <p class="address">17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 3</h2>
                                    <p class="address">Thạch Thất, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 4</h2>
                                    <p class="address">Cổ Lễ, Trực Ninh, Nam Định</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="direction">
                            <p><a href="#" class="direction-link">Hướng dẫn mua hàng</a></p>
                            <p><a href="#" class="direction-link">Về Xóm Thơm</a></p>
                            <p><a href="#" class="direction-link">Liên hệ</a></p>
                        </div>
                    </div>
                </li>
                <li class="menu-items phone-parent">
                    <a href="#" class="menu-link">
                        <i class="bi bi-telephone-fill"></i>0911682744
                    </a>
                    <div class="phone-hover">
                        <p>0911682744</p>
                    </div>
                </li>
                <li class="menu-items"><a href="#" class="menu-link"><i class="bi bi-person-fill"></i></a></li>
                <li class="menu-items cart"><a href="#" class="menu-link"><i class="bi bi-cart-fill"></i></a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="close-group">
            <i class="bi bi-x-lg"></i>
        </div>

        <input type="text" placeholder="Tìm kiếm..." class="nav-input-field">
        <ul class="navbar">
            <li class="navbar-items"><a href="../../index.html" class="navbar-link">Trang chủ</a></li>
            <li class="navbar-items"><a href="" class="navbar-link">Về chúng tôi</a></li>
            <li class="navbar-items">
                <a href="../../product/page/product.html" class="navbar-link">Sản phẩm<i class="bi bi-caret-down-fill"></i></a>
                <div class="product">
                    <div class="product-items">
                        <h2 class="product-name-heading">Nước hoa xóm thơm</h2>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../nam/page/nam.html" class="product-link">Nước hoa
                                nam <span class="hot">Hot</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../nu/page/nu.html" class="product-link">Nước hoa
                                nữ <span class="sale">Sale</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="../../unisex/page/unisex.html" class="product-link">Nước hoa
                                unisex <span class="new">New</span></a></p>
                    </div>
                    <div class="product-banner">
                        <img src="../image/product-banner.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="navbar-items">
                <a href="../../brand/All/page/All.html" class="navbar-link">Thương hiệu<i class="bi bi-caret-down-fill"></i></a>
                <div class="brand">
                    <div class="brand-items">
                        <div class="brand-left-col">
                            <p class="brand-name"><a href="../../brand/Chanel/page/chanel.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Channel</a></p>
                            <p class="brand-name"><a href="../../brand/Creed/page/creed.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Creed</a></p>
                            <p class="brand-name"><a href="../../brand/Dior/page/dior.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doir</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doncle & Banana</a></p>
                            <p class="brand-name"><a href="../../brand/Gucci/page/gucci.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Gucci</a></p>
                            <p class="brand-name"><a href="../../brand/Maison/page/maison.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Maison Marglia</a></p>
                            <p class="brand-name"><a href="../../brand/Hermes/page/hermes.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Helmet</a></p>
                        </div>
                        <div class="brand-right-col">
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Yves Saint Laurent</a></p>
                            <p class="brand-name"><a href="../../brand/Kilian/page/kilian.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Kilian</a></p>
                            <p class="brand-name"><a href="../../brand/Louis Vuitton/page/louis.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Luivatoi</a></p>
                            <p class="brand-name"><a href="../../brand/Lancome/page/lancome.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Lancome</a></p>
                            <p class="brand-name"><a href="../../brand/Diptyque/page/diptyque.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Dirtyque</a></p>
                            <p class="brand-name"><a href="../../brand/Davidoff/page/davidof.html" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Davidon</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Abibas</a></p>
                        </div>

                    </div>
                    <div class="brand-banner">
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-1.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>New Collection</p>
                                <p>Lưu hương 24h</p>
                            </div>
                        </div>
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-2.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>Sản phẩm Ưu đãi</p>
                                <p>Vui tết chung thu</p>
                            </div>
                        </div>


                    </div>
                </div>
            </li>
            <li class="navbar-items"><a href="" class="navbar-link">Blog</a></li>
            <li class="navbar-items"><a href="" class="navbar-link">Liên hệ</a></li>
            <li class="navbar-items login"><a href="" class="navbar-link">Đăng nhập</a></li>
        </ul>
    </nav>
    <div class="title">
        <h1> HƯỚNG DẪN MUA HÀNG & THANH TOÁN</h1>

        <div class="title-list">
            <h2>Hướng dẫn mua hàng & đặt hàng</h2>
            <p><span>Bước 1 </span>: Quý Khách có thể tìm sản phẩm theo 2 cách:</p>
            <ul>
                <li>Gõ tên sản phẩm vào thanh tìm kiếm.</li>
                <li>Tìm theo danh mục tên mặt hàng mình muốn mua</li>
            </ul>
            <p>Ví dụ: Quý Khách muốn mua chai Chanel Bleu EDP</p>
            <p>Quý Khách vào <span>Menu</span> từ trình duyệt Mobie -> <span> Thương hiệu</span> -> <span>Chanel</span>.
                Trong mục <span>Chanel</span> Quý Khách chọn <span>Chanel Bleu EDP</span></p>

            <p><span>Bước 2 </span>: Thêm sản phẩm vào giỏ hàng. Khi đã tìm được sản phẩm mong muốn, Quý Khách vui lòng
                bấm vào hình hoặc tên sản phẩm để vào trang thông tin chi tiết của sản phẩm, sau đó:</p>
            <ul>
                <li>Chọn dung tích muốn đặt (đối với các sản phẩm có nhiều dung tích)</li>
                <li>Kiểm tra thông tin sản phẩm: giá, thông tin khuyến mãi.</li>
                <li>Bấm “Thêm Vào Giỏ” hoặc “Mua Ngay”</li>
            </ul>
            <p><span>Bước 3 </span>: Tại form Giỏ Hàng Click vào nút Tiếp Tục để tiến hành đặt hàng</p>
            <p><span>Bước 4 </span>: Quý khách điền đầy đủ thông tin mua hàng và xác nhận đơn hàng.</p>
            <ul>
                <li>Người mua (Tên, địa chỉ, số điện thoại, email)</li>
                <li>Người nhận (Tên, địa chỉ, số điện thoại bên phần ghi chú, nếu Quý Khách mua tặng hoặc đặt hộ)</li>
            </ul>
            <p><span>Bước 5 </span>: Sau khi nhận đơn hàng của người mua, Trong vòng 24h, Xóm Thơm sẽ liên lạc với khách
                hàng qua thông tin số điện thoại quý khách hàng cung cấp bằng tổng đài <span>036 539 3999</span> để xác
                thực thông tin đơn hàng</p>
            <p><span>Bước 6 </span> <span>: Xóm Thơm </span>giao hàng tận nhà đến cho khách theo chính sách giao
                hàng.hoặc khách hàng đến trực tiếp Showroom của Xóm Thơm để nhận hàng. Trước khi giao hàng shipper sẽ
                gọi điện cho Khách hàng để xác nhận, trường hợp không liên lạc được thì gói hàng của bạn sẽ được hoàn về
                cửa hàng cho đến khi đã xác nhận được với quý khách.</p>
            <p>Khi nhận hàng, quý khách VUI LÒNG KIỂM TRA ĐẦY ĐỦ: Hàng có đúng mẫu mã đặt. Hộp gói hàng có tem của
                <span>Xóm Thơm</span> bên trên, Có thẻ Bảo Hành kèm theo. Khi có đủ các yếu tố trên Quý khách mới nhận
                hàng. (Vui lòng giữ thẻ bảo hành để được bảo hành và đổi sản phẩm theo chính sách bảo hành & đổi
                hàng.)</p>



        </div>

        <div class="title-list">
            <h2>Quy định về Giá & Phương thức thanh toán</h2>
            <h3>Quy định về giá </h3>
            <p>Giá của sản phẩm được niêm yết công khai tại<span> xomthom.vn</span> là giá bán cuối cùng. Giá của sản
                phẩm có thể thay đổi tùy thời điểm và chương trình khuyến mãi kèm theo. </p>
            <h3>Phương thức thanh toán:</h3>
            <p><span>Xóm Thơm </span>luôn hướng đến việc cung cấp dịch vụ vận chuyển tốt nhất với mức phí cạnh tranh cho
                tất cả các đơn hàng mà quý khách đặt với chúng tôi. Chúng tôi hỗ trợ giao hàng trên toàn quốc với chính
                sách giao hàng cụ thể như sau:</p>
            <ul>
                <li><span>Thanh toán chuyển khoản</span>: Thanh toán chuyển khoản trước, nhận hàng sau. Quý Khách có thể
                    chuyển khoản vào tài khoản của Xóm Thơm. Quý khách điền thông tin số tài khoản hoặc quét mã QR thì
                    sẽ hiện tên chủ tài khoản như sau:</li>
                <li><span>Thanh toán tiền mặt và thẻ tín dụng</span>: Quý khách thanh toán trực tiếp tại Showroom của
                    Xóm Thơm. Tại đây có máy cà thẻ để cho Quý Khách có nhu cầu thanh toán bằng hình thức cà thẻ.</li>
                <li><span>Thanh toán COD </span>: (Giao hàng nhận Tiền – Hợp tác tới đối tác uy tín Giaohangtietkiem.vn,
                    và đội ngũ giao hàng của Xóm Thơm tại TP. Hà Nội )</li>
                <li><span>Thanh toán qua Ví Momo</span>: Từ App MoMo của mình, Quý Khách điền số ĐT hoặc sử dụng mã QR
                    thì sẽ hiện tên chủ tài khoản như sau:</li>

            </ul>
            <p><span>Xóm Thơm</span> tôn trọng và nghiêm túc thực hiện các quy định của pháp luật về bảo vệ quyền lợi
                của người mua (người tiêu dùng). Vì vậy, sản phẩm cung cấp trên phải đầy đủ, chính xác, trung thực và
                chi tiết các thông tin liên quan đến sản phẩm. Mọi hành vi lừa đảo, gian lận trong kinh doanh đều bị lên
                án và phải chịu hoàn toàn trách nhiệm trước pháp luật.</p>
            <p>Hãy liên hệ Hotline: <span> 036 539 3999</span> nếu có bất kỳ khó khăn nào trong quá trình mua sắm
                online.</p>

        </div>



    </div>
    <footer class="footer">
        <div class="footer-infor">
            <img class="img-xomthom" src="../image/xomthom.png" alt="">
            <div class="title">
                <p><a href="#">Giấy chứng nhận đăng kí doanh nghiệp số 0108041328</a></p>
            </div>
            <div class="content">
                <p><i class="bi bi-geo-alt"></i> <span>Hà Nội : 76 Trần Phú Mộ Lao , Hà Đông, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Hà Nội: 17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Nam Định: 185 Quang Trung, Tp. Nam Định, Tỉnh Nam Định</span>
                </p>
                <p><i class="bi bi-geo-alt"></i> <span> Đà Nẵng: 357 Lê Duẩn, Thanh Khê, Đà Nẵng</span></p>
            </div>
            <div class="content-link">
                <p><i class="bi bi-telephone-fill"></i> <span> 0345 02 1970</span></p>
                <p><i class="bi bi-envelope"></i><span> xomthom@gmail.com</span></p>
                <p><i class="bi bi-lock-fill"></i><span> Shopee.vn/xomthom</span></p>
            </div>
            <p><img src="../image/bct.png" alt=""></p>
        </div>
        <div class="footer-center">
            <div class="take_care">
                <h2>CHĂM SÓC KHÁCH HÀNG</h2>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-1.html">Cam Kết Từ Xóm Thơm</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-1.html">Bảo hành & Đổi trả</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-2.html">Vận chuyển & Giao nhận</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-3.html">Đặt hàng & Thanh toán</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-4.html">Bảo mật thông tin</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="../../homepage/view/footer-link-5.html">Điều khoản & dịch vụ</a>
                </p>
            </div>
            <div class="follow">
                <h2>THEO DÕI CHÚNG TÔI</h2>
                <p><i class="bi bi-instagram"></i><a href="#">Instagram</a></p>
                <p><i class="bi bi-facebook"></i><a href="#">Facebook</a></p>
                <p><i class="bi bi-youtube"></i><a href="#">Youtube</a></p>
                <p><i class="bi bi-tiktok"><a href="#">Tiktok</a></i></p>
            </div>

        </div>
        <div class="footer-contact">
            <h2>LIÊN HỆ </h2>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d465.6611449327634!2d105.788497!3d20.981043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba7b191b44b%3A0xa97b9c318bc488d!2zWMOzbSBUaMahbQ!5e0!3m2!1svi!2s!4v1718506512194!5m2!1svi!2s"
                width="100%" height="90%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
    <div class="color">
        <p>Copyright 2024 xomthom.vn</p>
    </div>

</body>
<script src="../js/header.js"></script>

</html>