<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer-link.css">
    <link rel="stylesheet" href="../css/responsive.css">

</head>

<body>
    <header id="header">
        <i class="bi bi-list hamburger"></i>
        <div class="left">
            <a href="#"><img src="../image/logo.png" alt="" class="logo"></a>
            <input type="text" placeholder="Tìm kiếm..." class="input-field">
        </div>
        <div class="right">
            <ul class="menu">
                <li class="menu-items">
                    <a href="#" class="menu-link">
                        <i class="bi bi-geo-alt-fill"></i>Hệ thống cửa hàng<i class="bi bi-caret-down-fill"></i>
                    </a>
                    <div class="sub-menu">
                        <div class="submenu-heading">Các cửa hàng của Xóm thơm</div>
                        <div class="submenu-list">
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 1</h2>
                                    <p class="address">76 Trần Phú, Mộ Lao, Hà Đông</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 2</h2>
                                    <p class="address">17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 3</h2>
                                    <p class="address">Thạch Thất, Hà Nội</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                            <div class="submenu-items">
                                <div class="submenu-items-logo">
                                    <i class="bi bi-geo-alt-fill"></i>
                                </div>
                                <div class="submenu-items-text">
                                    <h2 class="store-name">Xóm thơm Hà Nội cơ sở 4</h2>
                                    <p class="address">Cổ Lễ, Trực Ninh, Nam Định</p>
                                    <p class="address">9:00-22:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="direction">
                            <p><a href="#" class="direction-link">Hướng dẫn mua hàng</a></p>
                            <p><a href="#" class="direction-link">Về Xóm Thơm</a></p>
                            <p><a href="#" class="direction-link">Liên hệ</a></p>
                        </div>
                    </div>
                </li>
                <li class="menu-items phone-parent">
                    <a href="#" class="menu-link">
                        <i class="bi bi-telephone-fill"></i>0911682744
                    </a>
                    <div class="phone-hover">
                        <p>0911682744</p>
                    </div>
                </li>
                <li class="menu-items"><a href="#" class="menu-link"><i class="bi bi-person-fill"></i></a></li>
                <li class="menu-items cart"><a href="#" class="menu-link"><i class="bi bi-cart-fill"></i></a></li>
            </ul>
        </div>
    </header>
    <nav>
        <div class="close-group">
            <i class="bi bi-x-lg"></i>
        </div>

        <input type="text" placeholder="Tìm kiếm..." class="nav-input-field">
        <ul class="navbar">
            <li class="navbar-items"><a href="" class="navbar-link">Trang chủ</a></li>
            <li class="navbar-items"><a href="" class="navbar-link">Về chúng tôi</a></li>
            <li class="navbar-items">
                <a href="" class="navbar-link">Sản phẩm<i class="bi bi-caret-down-fill"></i></a>
                <div class="product">
                    <div class="product-items">
                        <h2 class="product-name-heading">Nước hoa xóm thơm</h2>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="#" class="product-link">Nước hoa
                                nam <span class="hot">Hot</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="#" class="product-link">Nước hoa
                                nữ <span class="sale">Sale</span></a></p>
                        <p class="product-name"><i class="bi bi-star-fill"></i><a href="#" class="product-link">Nước hoa
                                unisex <span class="new">New</span></a></p>
                    </div>
                    <div class="product-banner">
                        <img src="../image/product-banner.jpg" alt="">
                    </div>
                </div>
            </li>
            <li class="navbar-items">
                <a href="" class="navbar-link">Thương hiệu<i class="bi bi-caret-down-fill"></i></a>
                <div class="brand">
                    <div class="brand-items">
                        <div class="brand-left-col">
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Channel</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Creed</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doir</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Doncle & Banana</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Gucci</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Maison Marglia</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Helmet</a></p>
                        </div>
                        <div class="brand-right-col">
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Yves Saint Laurent</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Kilian</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Luivatoi</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Lancome</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Dirtyque</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Davidon</a></p>
                            <p class="brand-name"><a href="#" class="brand-link"><i
                                        class="bi bi-caret-right-fill"></i>Abibas</a></p>
                        </div>

                    </div>
                    <div class="brand-banner">
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-1.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>New Collection</p>
                                <p>Lưu hương 24h</p>
                            </div>
                        </div>
                        <div class="brand-banner-items">
                            <div class="brand-banner-items-img">
                                <img src="../image/brand-img-2.jpg" alt="">
                            </div>
                            <div class="brand-banner-items-text">
                                <p>Sản phẩm Ưu đãi</p>
                                <p>Vui tết chung thu</p>
                            </div>
                        </div>


                    </div>
                </div>
            </li>
            <li class="navbar-items"><a href="" class="navbar-link">Blog</a></li>
            <li class="navbar-items"><a href="" class="navbar-link">Liên hệ</a></li>
            <li class="navbar-items login"><a href="" class="navbar-link">Đăng nhập</a></li>
        </ul>
    </nav>
    <div class="title">
        <h1> CHÍNH SÁCH BẢO MẬT </h1>

        <div class="title-list">
            <h2>Chính sách bảo mật của Xóm Thơm</h2>
            <p>Việc thu thập dữ liệu chủ yếu trên Website TMĐT: https://xomthom.vn/ bao gồm: email, điện thoại, tên đăng
                nhập, mật khẩu đăng nhập, địa chỉ khách hàng (thành viên). Đây là các thông tin mà Xóm Thơm yêu cầu
                thành viên cung cấp bắt buộc khi đăng ký sử dụng dịch vụ và để Xóm Thơm liên hệ xác nhận khi khách hàng
                đăng ký sử dụng dịch vụ trên website nhằm đảm bảo quyền lợi cho người tiêu dùng. </p>
            <p>Trong quá trình giao dịch thanh toán tại Website TMĐT xomthom.vn . Xóm Thơm chỉ lưu giữ thông tin chi
                tiết về đơn hàng đã thanh toán của thành viên, các thông tin về số tài khoản ngân hàng của thành viên sẽ
                không được lưu giữ. Ngoài ra, các thông tin giao dịch gồm: lịch sử mua hàng, giá trị giao dịch, phương
                thức vận chuyển và thanh toán cũng được Xóm Thơm lưu trữ nhằm giải quyết những vấn đề có thể phát sinh
                về sau.</p>
            <p><span>Xóm Thơm </span>cũng sẽ sử dụng cả thông tin nhận diện cá nhân của thành viên và một số thông tin
                nhận diện phi cá nhân (như cookies, địa chỉ IP, loại trình duyệt, ngày tổng số, v.v.) để gia tăng khả
                năng đáp ứng của Xóm Thơm về phương diện các trang và dịch vụ, cũng như về phát triển những chức năng,
                tính năng và các dịch vụ mới theo những xu hướng và sở thích đang diễn tiến. Các thành viên sẽ tự chịu
                trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư
                điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho Website TMĐT xomthom.vn về
                những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ
                ba để có biện pháp giải quyết phù hợp.</p>
        </div>



        <div class="title-list">
            <h2>Phạm vi sử dụng thông tin</h2>
            <p>Việc thu thập thông tin là nhằm xây dựng Xóm Thơm trở thành một website thương mại điện tử mang lại
                nhiều tiện ích nhất cho khách hàng. Vì thế, việc sử dụng thông tin sẽ phục vụ những hoạt động
                sau:</p>

            <ul>
                <li>Gửi newsletter giới thiệu sản phẩm mới và những chương trình khuyến mãi của Xóm Thơm</li>
                <li>Cung cấp một số tiện ích, dịch vụ hỗ trợ khách hàng đến các thành viên.</li>
                <li>Nâng cao chất lượng dịch vụ khách hàng của Xóm Thơm</li>
                <li>Giải quyết các vấn đề, tranh chấp phát sinh liên quan đến việc sử dụng website</li>
                <li>Ngăn chặn những hoạt động vi phạm pháp luật Việt Nam</li>
                <li>Liên lạc và giải quyết với thành viên trong những trường hợp đặc biệt.</li>
        </div>
        <div class="title-list">
            <h2>Chia sẻ thông tin</h2>
            <p> <span>Xóm Thơm </span>biết rằng thông tin về khách hàng là một phần rất quan trọng trong
                việc kinh doanh và chúng sẽ không được bán, trao đổi cho một bên thứ ba nào khác. Chúng tôi
                sẽ không chia sẻ thông tin khách hàng trừ những trường hợp cụ thể sau đây:</p>
            <ul>
                <li>Để bảo vệ Xóm Thơm và các bên thứ ba khác: Chúng tôi chỉ đưa ra thông tin tài khoản và
                    những thông tin cá nhân khác khi tin chắc rằng việc đưa những thông tin đó là phù hợp
                    với luật pháp, bảo vệ quyền lợi, tài sản của người sử dụng dịch vụ, của Xóm Thơm và các
                    bên thứ ba khác.</li>
                <li>Theo yêu cầu pháp lý từ một cơ quan chính phủ hoặc khi chúng tôi tin rằng việc làm đó là
                    cần thiết và phù hợp nhằm tuân theo các yêu cầu pháp lý</li>
                <li>Trong những trường hợp còn lại, chúng tôi sẽ có thông báo cụ thể cho Quý Khách Hàng khi
                    phải tiết lộ thông tin cho một bên thứ ba và thông tin này chỉ được cung cấp khi được sự
                    phản hồi đồng ý từ phía Quý Khách Hàng. VD: các chương trình khuyến mãi có sự hợp tác,
                    tài trợ với các đối tác của Xóm Thơm, cung cấp các thông tin giao nhận cần thiết cho các
                    đơn vị vận chuyển</li>

            </ul>
            <p>Nó chắc chắn không bao gồm việc bán, chia sẻ dẫn đến việc làm lộ thông tin cá nhân của khách hàng vì mục
                đích thương mại vi phạm những cam kết được đặt ra trong quy định Chính sách bảo mật thông tin khách hàng
                của Xóm Thơm</p>



        </div>
        <div class="title-list">
            <h2>Thời gian lưu trữ thông tin tại Xóm Thơm</h2>
            <p>Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập
                và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy
                chủ của Xóm Thơm.</p>
            <p>Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách
                đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu Xóm Thơm thực hiện việc này. Thành
                viên có quyền gửi khiếu nại về việc lộ thông tin các nhân cho bên thứ 3 đến Ban quản trị của Website
                TMĐT Xóm Thơm .Khi tiếp nhận những phản hồi này, Xóm Thơm sẽ xác nhận lại thông tin, phải có trách nhiệm
                trả lời lý do và hướng dẫn thành viên khôi phục và bảo mật lại thông tin. </p>
        </div>
        <div class="title-list">
            <h2>Xóm Thơm cam kết bảo mật thông tin khách hàng</h2>
            <p>Thông tin cá nhân của thành viên trên xomthom.vn được chúng tôi cam kết bảo mật tuyệt đối theo chính sách
                bảo vệ thông tin cá nhân. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi
                có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.</p>
            <ul>
                <li>Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của
                    thành viên khi không có sự cho phép đồng ý từ thành viên.</li>
                <li>Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành
                    viên, Xóm Thơm sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và
                    thông báo cho thành viên được biết.</li>
                <li>Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của Thành viên bao gồm thông tin hóa đơn kế
                    toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của Xóm Thơm</li>
                <li>Ban quản lý Xóm Thơm yêu cầu các cá nhân khi đăng ký/mua hàng là thành viên, phải cung cấp đầy đủ
                    thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số điện thoại…., và chịu
                    trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý Xóm Thơm không chịu trách nhiệm
                    cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Thành viên đó nếu xét thấy
                    tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.</li>


            </ul>
            <p><span>Lưu ý: </span>Chính sách bảo mật thông tin khách hàng của Xóm Thơm chỉ được áp dụng tại:
                https://xomthom.vn/. Nó không bao gồm hoặc liên quan đến các bên thứ ba khác đặt quảng cáo hoặc có liên
                kết tại https://xomthom.vn/. Chúng tôi đề nghị bạn tham khảo và phân biệt rõ sự khác biệt trong chính
                sách bảo mật thông tin khách hàng của những website này.</p>
            <p><span>Xóm Thơm </span>nhấn mạnh rằng chúng tôi rất quan tâm đến quyền lợi của Quý khách hàng trong việc
                bảo vệ thông tin cá nhân nên trong trường hợp bạn có góp ý, thắc mắc liên quan đến chính sách bảo mật
                của chúng tôi. </p>
            <p>Hãy liên hệ Hotline: <span>036 539 399</span></p>
        </div>




    </div>
    </div>
    <footer class="footer">
        <div class="footer-infor">
            <img class="img-xomthom" src="../image/xomthom.png" alt="">
            <div class="title">
                <p><a href="#">Giấy chứng nhận đăng kí doanh nghiệp số 0108041328</a></p>
            </div>
            <div class="content">
                <p><i class="bi bi-geo-alt"></i> <span>Hà Nội : 76 Trần Phú Mộ Lao , Hà Đông, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Hà Nội: 17B4 Phạm Ngọc Thạch, Đống Đa, Hà Nội</span></p>
                <p><i class="bi bi-geo-alt"></i> <span> Nam Định: 185 Quang Trung, Tp. Nam Định, Tỉnh Nam Định</span>
                </p>
                <p><i class="bi bi-geo-alt"></i> <span> Đà Nẵng: 357 Lê Duẩn, Thanh Khê, Đà Nẵng</span></p>
            </div>
            <div class="content-link">
                <p><i class="bi bi-telephone-fill"></i> <span> 0345 02 1970</span></p>
                <p><i class="bi bi-envelope"></i><span> xomthom@gmail.com</span></p>
                <p><i class="bi bi-lock-fill"></i><span> Shopee.vn/xomthom</span></p>
            </div>
            <p><img src="../image/bct.png" alt=""></p>
        </div>
        <div class="footer-center">
            <div class="take_care">
                <h2>CHĂM SÓC KHÁCH HÀNG</h2>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="./footer-link-1.html">Cam Kết Từ Xóm Thơm</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="./footer-link-1.html">Bảo hành & Đổi trả</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="./footer-link-2.html">Vận chuyển & Giao nhận</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="./footer-link-3.html">Đặt hàng & Thanh toán</a>
                </p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="./footer-link-4.html">Bảo mật thông tin</a></p>
                <p><i class="bi bi-chevron-compact-right"></i> <a href="./footer-link-5.html">Điều khoản & dịch vụ</a>
                </p>
            </div>
            <div class="follow">
                <h2>THEO DÕI CHÚNG TÔI</h2>
                <p><i class="bi bi-instagram"></i><a href="#">Instagram</a></p>
                <p><i class="bi bi-facebook"></i><a href="#">Facebook</a></p>
                <p><i class="bi bi-youtube"></i><a href="#">Youtube</a></p>
                <p><i class="bi bi-tiktok"><a href="#">Tiktok</a></i></p>
            </div>

        </div>
        <div class="footer-contact">
            <h2>LIÊN HỆ </h2>

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d465.6611449327634!2d105.788497!3d20.981043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aba7b191b44b%3A0xa97b9c318bc488d!2zWMOzbSBUaMahbQ!5e0!3m2!1svi!2s!4v1718506512194!5m2!1svi!2s"
                width="100%" height="90%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </footer>
    <div class="color">
        <p>Copyright 2024 xomthom.vn</p>
    </div>

</body>
<script src="../js/header.js"></script>

</html>