*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Roboto", sans-serif ;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.hamburger{
    display: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1;
}
.left{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}
.logo{
    height: 60px;
    padding: 10px;
}
.input-field{
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}
.right{
    width: 50%;
    display: flex;
    justify-content: end;
}
.menu{
    display: flex;
    list-style: none;
}
.menu-items{
    padding: 5px 10px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-link{
    color: #000;
    font-size: 16px;
    font-weight: 600;

}
.menu-items:hover .sub-menu{
    display: block;
    transition: 0.8s ease-in-out;
}

.sub-menu{
    position: absolute;
    width: 350px;
    background-color: #ffffff;
    left: 0;
    padding: 10px;
    box-shadow: 2px 3px 1px rgba(0, 0, 0,0.2);
    border: 1px solid #ccc;
    z-index: 999;
    top: 35px;
    transition: 0.3s ease-in-out;
    display:none;
}
.sub-menu::after{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 100px;
    top: -10px;
    border-bottom: 10px solid #dbd8d871;
    
}
.submenu-heading{
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
.submenu-list{
    width: 100%;
}
.submenu-items{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    cursor: pointer;
}
.submenu-items:hover .submenu-items-logo{
    background-color: #000;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
.submenu-items-logo{
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 50%;
}
.bi{
    font-size: 20px;
}
.store-name{
    font-size: 14px;
    font-weight: 500;
}
.address{
    font-size: 11px;
}
.direction p{
    padding: 5px 10px;
}
.direction-link{
    color: #000;
    font-size: 15px;
}
.direction p:hover .direction-link{
    color: #939191;
    margin-left: 7px;
    transition: 0.3s ease-in-out;
}
.phone-parent{
    position: relative;
}
.phone-hover{
    position: absolute;
    top: 35px;
    right: 0;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 10px;
    display: none;
}
.phone-parent:hover .phone-hover{
    display: block;
}
.phone-hover::after{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left:10;
    top: -10px;
    border-bottom: 10px solid #000000;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
    /* z-index: 1; */
    /* position: relative; */
}
.navbar-items:hover .product{
    display: block;
    display: flex;
    transition: 0.3s ease-in-out;
}
.navbar-link{
    color: #000;
    font-weight: 600;
}
.navbar-link>i{
    font-size: 11px;
}
.nav-input-field{
    display: none;
}
.login{
    display: none;
}
.res-search-group{
    display: none;
}
.close-group{
    display: none;
}
.product{
    position: absolute;
    top:110px;
    border-top: 1px solid #ccc;
    left: 0;
    right: 0;
    height: 450px;
    box-shadow: 2px 2px 5px #8a88886b;
    display: flex;
    display: none;
    background-color: #ffff;
    z-index: 10;
    transition: 0.3s ease-in-out;
}
.product::before{
    content: "";
    position: absolute;
    width: 100%; 
    height: 20px; 
    left: 0;
    top: -20px;
}
.product-items{
    width: 40%;
    padding: 20px 60px ;
}
.product-name-heading{
    font-size: 25px;
    font-weight: 600;
    padding: 15px 0;
}
.product-name{
    margin: 10px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.product-name i{
    font-size: 15px;
}
.product-name:hover .product-link{
    margin-left: 15px;
    transition: 0.3s ease-in-out;
}
.product-link{
    font-size: 18px;
    color: #000;
}
.product-banner{
    width: 60%;
}
.product-banner img{
    width: 100%;
    height: 100%;
}
.hot, .sale, .new{
    font-size: 10px;
    margin-left: 4px;
    color: #fff;
    text-transform: uppercase;
}
.hot{
    background-color: red;
    padding: 2px 4px;
}
.sale{
    background-color: rgb(244, 184, 7);
    padding: 2px 4px;
}
.new{
    background-color: rgb(0, 0, 0);
    padding: 2px 4px;
}

.navbar-items:hover .brand{
    display: block;
    display: flex;
}
.brand{
    position: absolute;
    top:110px;
    border-top: 1px solid #ccc;
    left: 0;
    right: 0;
    height: 400px;
    box-shadow: 2px 2px 5px #8a88886b;
    display: flex;
    padding: 40px 30px;
    display: none;
    transition: 0.3s ease-in-out;
    background-color: #fff;
}
.brand::before{
    content: "";
    position: absolute;
    width: 100%; 
    height: 20px; 
    left: 0;
    top: -20px;
    /* background-color: red; */
}
.brand-items{
    display: flex;
    width: 50%;
    gap: 20px;
}
.brand-left-col, .brand-right-col{
    width: 50%;
}
.brand-name{
    padding: 10px 0;
    border-bottom: 1px solid #efeded;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.brand-link{
    font-size: 20px;
    color: #000;
}
.brand-link>i{
    font-size: 12px;
    margin-right:10px ;
}
.brand-name:hover .brand-link{
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}


.brand-banner{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 30px;
}
.brand-banner .brand-banner-items{
    width: 50%;
    height: 100%;
}
.brand-banner .brand-banner-items .brand-banner-items-img{
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.brand-banner .brand-banner-items img{
    width: 100%;
    height: 100%;
}
.brand-banner .brand-banner-items img:hover{
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}
.brand-banner-items-text{
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #000;
    font-weight: 500;
}
.box{
    width: 100%;
    background-color: #F5F5F5;
    padding:40px;
    font-family: "Roboto", sans-serif;

}
.box p {
    font-size:13px;
}
.intro{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.intro h2{
    font-size: 20px;
    display:flex;
    align-items: center;
    justify-content: center;  
}
.intro p {
    color:rgb(47, 44, 44);
   
    display:flex;
    justify-content: center;
    
}
.intro span{
    color:rgb(47, 44, 44);
    font-size:10px;
    display:flex;
    justify-content: center;
    font-style:italic;

}
.intro-box{
    width:100%;
    display:flex;
    gap:15px;
  
}
.intro-img{
    flex-basis: 33%;
    width:33%;
    height:33%;
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;

    

}
.intro-img >img{
    width:50%;
    border-radius:100%;
    object-fit: cover;
    aspect-ratio: 1/1 ;
}
.intro-box p {
    text-align: center;
}
.idea{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    gap:20px;
    width:100%;
}
.idea h2{
    font-size: 17px;
    display:flex;
    align-items: center;
    justify-content: center;  

}
.idea p {
    color:rgb(47, 44, 44);
   
    display:flex;
    justify-content: center;
    text-align: center;
}
.idea  p >img{
    width:70%;
    height:500px;
}

.plan{
    margin-top:50px;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.plan h2{
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content: center;  
}
.plan p{
    color:rgb(47, 44, 44);
    
    display:flex;
    justify-content: center;
    text-align: center;
}
.plan-box {
    width:100%;
    display:flex;
    gap:20px;
    
}
.plan-img >img{
    width:100%;
    margin:0px 20px;
    
}
.commit h2{
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content: center; 
}
.commit {
    margin-top:50px;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.commit p{
    color:rgb(47, 44, 44);
    
    display:flex;
    justify-content: center;
    text-align: center;
}
.commit-box{
    
    display:flex;
    width:100%;
    justify-content: center;
    gap:20px;
}
.commit-choice{
    width: 20%;
    height: 120px;
    background-color: white;
    box-shadow: 10px 10px 20px 5px rgba(161, 159, 159, 0.5);
    margin: 20px ;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:7px;
}
.commit-choice >img {
    width:25px;  
}
.commit-choice p{
    font-weight:bold;
}
.commit-choice:hover  {
    box-shadow: 10px 10px 20px 5px rgba(111, 107, 107, 0.5);
    transform: scale(1);
}
.active {
    display:flex;
    margin-top:50px;
    display:flex;
    flex-direction: column;
    gap:15px;
    justify-content: center;
    align-items: center;

}
.active p span{
    font-weight: bold;
}
.thank {
    margin-top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
footer {
    width: 100%;
    background-color: #333;
    bottom: 0;
    padding: 40px;
    margin: 0px !important;
    font-size: 14px;
    display: flex;
    gap: 20px;
}


.footer-infor{
    flex-basis: 30%;
}

.footer-center{
    flex-basis: 40%;
    display: flex;
    gap: 10px;
}
.footer-contact{
    flex-basis: 30%;
}
.title {
    margin: 20px 0px;


}
.title p a {
    color:white;
    font-weight: bold;
}

.address p a {
    color: white;
    font-weight: bold;

}

.content p{
    color: #fff;
    margin-bottom: 5px;
}
.content-link p{
    color: #fff;
    margin-bottom: 5px;
}

.take_care, .follow {
   
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.content-link {
    margin: 0px 0px;
}

.take_care h2 {
  
    font-size: 25px;
    color: #fff;

}

.take_care p, .follow p{
    margin-bottom: 20px;

}
.take_care p a {
    color: white;
    font-size: 20px;

}
.take_care p i{
    color: #fff;
}
.follow {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.follow h2 {
   
    font-size: 25px;
    color: #fff;
    
}

.follow p a {
    color: white;
    font-size: 20px;
   
}
.follow p i{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}


.footer-contact h2{
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
    margin-bottom: 20px;
}





.img-map>img {
    width: 100%;
    object-fit: cover;
}

.map p a>img {
    width: 100%;
    object-fit: cover;
} */

.color {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    background-color: #5B5B5B;
    padding: 0px 0px;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}

.color p {
    color: rgb(185, 177, 177);
}

.img-xomthom {
    width: 100%;
}   

.color{
    width:100%;
    height:20px;
    background-color: #5B5B5B;
    display:flex;
    justify-content: center;
}
.color p {
    font-size:12px;
    
}

@media screen and (max-width: 1024px) {
    footer{
        flex-direction: column;
    }
}

@media screen and (max-width:550px) {
    footer{
        flex-direction: column;
    }
    .footer-center{
        flex-direction: column;
    }
    .intro-box{
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }
    .intro-img{
        width: 100%;
    }
    .commit-box{
        flex-direction: column;
        width: 100%;
    }
    .commit-choice{
        width: 100%;
    }
}