.container {
  max-width: 1440px;
  margin: 0 auto;
}

.products {
  /* width: 100%; */
  display: flex;
  max-width: 1440px;
  margin: 30px auto;
  gap: 30px;
}

.product-slider {
  flex-basis: 50%;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel .carousel-inner .carousel-item {
  min-width: 100%;
  z-index: 0;
  box-sizing: border-box;
}

.carousel .carousel-inner .carousel-item img {
  display: block;
  width: 100%;
}

.carousel .carousel-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 0;
}

.carousel .carousel-indicators button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  margin: 0 5px;
  width: 10px;
}

.carousel .carousel-indicators button.active {
  background-color: #000;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  border-radius: 50%;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

.carousel .carousel-control-prev {
  left: 10px;
}

.carousel .carousel-control-next {
  right: 10px;
}

.product-detail {
  flex-basis: 50%;
  /* width: 60%; */
}

.product-detail-link {
  color: #333;
  font-size: 15px;
}

.product-detail-name {
  font-size: 25px;
  padding: 10px 0;
}

.product-detail-price {
  font-size: 18px;
  padding: 10px 0;
  color: red;
  font-weight: 600;
  margin-top: 30px;
}

.prodcut-detail-des {
  margin-top: 30px;
  line-height: 1.8;
}

.product-detail-text {
  font-size: 15px;
  color: #333;
}

.product-size {
  text-transform: uppercase;
  font-size: 14px;
  margin: 15px 0;
}

.size-number {
  font-weight: 600;
  margin-left: 5px;
}

.size-btn-group {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.size-btn {
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.product-price {
  font-size: 14px;
  color: red;
  font-weight: 600;
  margin: 10px 0;
  display: none;
}

.select {
  display: flex;
}

.decrease {
  padding: 5px 10px;
  cursor: pointer;
}

.select-quantity {
  width: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  /* padding: 5px 10px; */
}

.increase {
  padding: 5px 10px;
  cursor: pointer;
}

.add_cart {
  margin-left: 40px;
  padding: 10px 20px;
  color: #fff;
  background-color: red;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.information {
  margin: 50px 0;
}
.information .button-group {
  display: flex;
}
.information .button-group .infor_btn {
  padding: 8px 16px;
  color: #000;
  background-color: #fff;
  border: none;
  outline: none;
  border: 1px solid #ccc;
}
.information #description {
  padding: 30px;
  border: 1px solid #ccc;
  line-height: 2;
}
.information #description .content-title {
  font-size: 20px;
}
.information #description .content-des {
  font-size: 15px;
  color: #5e5c5c;
}
.information #size {
  display: none;
  padding: 30px;
  border: 1px solid #ccc;
  line-height: 2;
}
.information #size .size {
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.information #size .size span {
  color: #333;
  font-weight: 400;
}

#comment {
  width: 100%;
  display: none;
  padding: 30px;
  border: 1px solid #ccc;
  line-height: 2;
}
#comment .comment-text {
  width: 100%;
}
#comment .comment-text p {
  font-size: 15px;
  color: #333;
}
#comment .box-comment {
  width: 100%;
  border: 2px solid #757575;
  padding: 15px;
  margin-top: 30px;
}
#comment .box-comment .form-heading {
  font-size: 18px;
  color: #333;
}
#comment .box-comment .rate {
  font-weight: 600;
  color: #000;
}
#comment .box-comment .star {
  font-size: 15px;
  color: #ccc;
  display: flex;
  flex-direction: row;
}
#comment .box-comment .star .countstar {
  cursor: pointer;
  padding: 0 4px;
}
#comment .box-comment .star .countstar i:last-child {
  padding-right: 5px;
  border-right: 1px solid #414141;
}
#comment .box-comment .star .countstar:hover i {
  color: rgb(182, 20, 20);
  transition: 0.2s ease-in-out;
}
#comment .box-comment .yourComment {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0;
}
#comment .box-comment .comment-sec {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
}
#comment .box-comment .comment-sec::placeholder {
  font-size: 17px;
}
#comment .box-comment .form-input {
  width: 100%;
  display: flex;
  gap: 15px;
}
#comment .box-comment .form-input .comment-input-field {
  flex-basis: 50%;
}
#comment .box-comment .form-input .comment-input-field label {
  font-weight: 600;
  font-size: 16px;
}
#comment .box-comment .form-input .comment-input-field input {
  width: 100%;
  padding: 10px 10px;
  border: none;
  outline: none;
  border: 1px solid #ccc;
}
#comment .box-comment .stored-text {
  margin-left: 10px;
  color: #000;
  font-weight: 600;
  font-size: 13px;
}
#comment .box-comment .send {
  padding: 10px 20px;
  border: none;
  outline: none;
  margin-top: 30px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.wrapper {
  max-width: 1440px;
  margin: auto;
}
.wrapper .similar {
  margin-top: 40px;
}
.wrapper .similar .similar-heading {
  font-size: 20px;
  color: #000;
  margin: 20px 0;
  padding-left: 10px;
}
.wrapper .similar .similar-carousel {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin-top: 20px;
}
.wrapper .similar .similar-carousel .similar-carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.wrapper .similar .similar-carousel .similar-carousel-inner .similar-carousel-item {
  flex: 0 0 16%;
  box-sizing: border-box;
  padding: 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}
.wrapper .similar .similar-carousel .similar-carousel-inner .similar-carousel-item img {
  display: block;
  width: 100%;
}
.wrapper .similar .similar-carousel .similar-carousel-inner .similar-carousel-item .perfume-name {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.wrapper .similar .similar-carousel .similar-carousel-inner .similar-carousel-item .perfume-price {
  text-align: center;
  font-size: 15px;
  color: #e10606;
  font-weight: 500;
}
.wrapper .similar .similar-carousel .similar-carousel-control-prev, .wrapper .similar .similar-carousel .similar-carousel-control-next {
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
  height: 50px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 50px;
}
.wrapper .similar .similar-carousel .similar-carousel-control-prev-icon, .wrapper .similar .similar-carousel .similar-carousel-control-next-icon {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}
.wrapper .similar .similar-carousel .similar-carousel-control-prev {
  left: 10px;
}
.wrapper .similar .similar-carousel .similar-carousel-control-next {
  right: 10px;
}

.news {
  max-width: 1440px;
  margin: 40px auto;
}
.news .news-heading {
  font-size: 20px;
  color: #000;
  margin: 20px 0;
  padding-left: 10px;
}
.news .news-carousel {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin-top: 20px;
}
.news .news-carousel .news-carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.news .news-carousel .news-carousel-inner .news-carousel-item {
  flex: 0 0 20%;
  box-sizing: border-box;
  padding: 10px;
  width: 20%;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  cursor: pointer;
}
.news .news-carousel .news-carousel-inner .news-carousel-item img {
  overflow: hidden;
  display: block;
  width: 100%;
}
.news .news-carousel .news-carousel-inner .news-carousel-item .date {
  position: absolute;
  text-align: center;
  left: 15px;
  top: 10%;
  width: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
}
.news .news-carousel .news-carousel-inner .news-carousel-item .news-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.news .news-carousel .news-carousel-inner .news-carousel-item .news-des {
  text-align: center;
  font-size: 16px;
  color: #333;
}
.news .news-carousel .news-carousel-inner .news-carousel-item:hover .date {
  background-color: #000;
  transition: 0.3s ease-in-out;
  color: #ffffff;
}
.news .news-carousel .news-carousel-control-prev, .news .news-carousel .news-carousel-control-next {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  height: 50px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 50px;
}
.news .news-carousel .news-carousel-control-prev-icon, .news .news-carousel .news-carousel-control-next-icon {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}
.news .news-carousel .news-carousel-control-prev {
  left: 10px;
}
.news .news-carousel .news-carousel-control-next {
  right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  display: none;
}
.modal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .overlay p {
  position: absolute;
  right: 30px;
  top: 40px;
}
.modal .overlay p i {
  font-size: 30px;
  color: #fff;
}
.modal .alert {
  padding: 50px 50px;
  z-index: 5;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  box-shadow: 0px 5px 12px #ffffff;
  color: #fff;
}

@media screen and (max-width: 1140px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  body {
    padding: 0 15px;
  }
  .products {
    flex-direction: column;
  }
  .wrapper {
    max-width: 550px;
    margin: auto;
  }
  .wrapper .similar .similar-carousel .similar-carousel-inner .similar-carousel-item {
    flex: 0 0 50%;
  }
  .news .news-carousel .news-carousel-inner .news-carousel-item {
    flex: 0 0 50%;
  }
  #comment .box-comment .star {
    font-size: 5px;
  }
}

/*# sourceMappingURL=product.css.map */
